{% extends "posts/post_base.html" %}
{% load django_bootstrap5 %}

 {% block post_content %}
    <h4> Create a new Post</h4>
     <form action="{% url 'posts:create' %}" method="POST">
                {% csrf_token %}
                
                <div class="terminal-form-context">
                    {% bootstrap_form form %}
                </div>
                
                <div class="terminal-actions mt-4">
                    <button type="submit" class="btn-void-primary" value="Post">Create Post</button>
                     
                </div>
            </form>
 
 {% endblock %}