{% extends "posts/post_base.html" %}

{% block post_content %}
<div class="col-md-10 offset-md-1">
    <div class="panel-header">
        <span class="coord-data">SINGLE_ENTRY // ID_{{ post.pk }}</span>
        <span class="status-indicator">DECRYPTED_SUCCESSFUL</span>
    </div>

    <div class="detailed-post-view">
        {% include "posts/_post.html" %}
    </div>

    <div class="terminal-actions" style="margin-top: 30px;">
        <a href="{% url 'posts:all' %}" class="btn-void-secondary">
            < RETURN_TO_FEED
        </a>
    </div>
</div>
{% endblock %}