{% extends "groups/group_base.html" %}
{% load django_bootstrap5 %}

 {% block group_content %}
    <h4> Create a new group</h4>
     <form action="{% url 'groups:create' %}" method="POST">
                {% csrf_token %}
                
                <div class="terminal-form-context">
                    {% bootstrap_form form %}
                </div>
                
                <div class="terminal-actions mt-4">
                    <button type="submit" class="btn-void-primary">Create Group</button>
                     
                </div>
            </form>
 
 {% endblock %}