<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Humming Bird</title>
    <link rel="stylesheet" href="{% static 'css/hummingbird.css' %}">
</head>
<body>
    <nav class="navbar">
  <div class="logo">TONYCORP</div>
  <ul class="nav-links">
    <li><a href="{% url 'ManDown:index'%}">Home</a></li>
    <li><a href="{% url 'ManDown:otherpage'%}">Others</a></li>
    <li><a href="{% url 'ManDown:relative'%}">Relative</a></li>
    <li><a href="{% url 'admin:index'%}">Admin</a></li>
  </ul>
</nav>

<div class="hero-section">
   
  {% block body_block %}
  <!-- Anything outside of this will be inherited if you extend-->
   {% endblock %}
</div>
<!-- <div>
  <h1>I'M A BROOKLYN BABY</h1>
</div>
<h1>OTHERS PAGE </h1>
    <ol>
        <li><a href="{% url 'admin:index'%}">AdminPage</a></li>
        <li><a href="{% url 'ManDown:base'%}">Basepage</a></li>
        <li><a href="{% url 'ManDown:index'%}">IndexPage</a></li>
        <li><a href="{% url 'ManDown:relative'%}">relativepage</a></li>
        <li><a href="{% url 'index'%}">INDEX</a></li>
    </ol> -->
</body>
</html>