{% extends "Three_Seconds_Passwords/base.html" %}
{% load static %}
        {% block body_block %}
        <div class="form">
                {% if registered %}


                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                 <h1>Thank You for registering</h1>
                {% else %}
                       <br>
                       <br>
                       <br>
                        <h1>Register Here</h1> <br>
                        <h3>Fill out the form</h3>

                        <form enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                {{user_form.as_p}}
                                {{profile_form.as_p}}
                                <input type="submit" value="Register">
                                </form>
                {% endif %}
        </div>
        {% endblock %}